/* Till 300px width Css is working perfect after 300px service img2 poping out of bondries and home section content is going beyond the navbar and so on*/

*{
    margin:0;
    padding: 0;
}

 .container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
} 

/* Nav bar */

#navbar{
    position: fixed;
    width: 80%;
    opacity: 0.8;
    height: 70px;
    z-index: 2;
    
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}



#navbar::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    position: absolute;
    z-index: -1;
}

#logo{
    margin: 10px 30px;
    cursor: pointer;
    position: relative;
    
}

#logo img{
    width: 50px;
    height: 50px;
    /* border-bottom-left-radius: 35px;
    border-top-right-radius: 10px; */
    border-radius: 0px 10px 0px 35px;
    
}

#navbar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
}

#navbar ul li{
    font-size: 1.3rem;
}

#navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;

}

#navbar ul li a:hover{
    background-color: rgb(54, 114, 226);
    border-radius: 50px;
    font-size: 1.3rem;
    padding: 5px;  /* Due to padding the popup effect*/
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px greenyellow;
}

.toggle-btn span{
    display: none;
}





/* home section*/

#home{
    display: flex;
    flex-direction: column;
    padding: 10px 10%;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#home::before{
    content:"";
    position: absolute;
    z-index: -1;
    width: 80%;
    margin-left: 10%;
    height: 100%;
    background-image: url(./images/bg3.webp);
    background-position: center;
    background-size: cover;
    align-content: center;
    align-items: center;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;

}

.h-primary{
    font-size: 2.4rem;
    padding: 10px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

.h-secondary{
    font-size: 2.4rem;
    padding: 10px;
    text-align: center;
    
    
}

#home p{
    text-align: center;
    color: rgb(14, 4, 58);
}

.btn{
    background-color: transparent;
    border-radius: 50px;
    font-size: 1rem;
    padding: 5px;
    margin: 35px;

    border-inline-start-color: rgb(233, 12, 196);
    border-inline-end-color: rgb(119, 8, 86) ;
}

.btn:hover{
    background-color: rgb(54, 114, 226);
    border-radius: 50px;
    font-size: 1rem;
    padding: 5px;
    margin: 35px;
    cursor: pointer;
   border: 3px solid black;
    border-inline-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(253, 253, 253) ;
}

/* services*/


#service-container .h-primary:hover{
    text-decoration: underline;
}
#service-container{
    margin: 120px 0 50px 0;
}
#services{
    position: relative;
    display: flex;
}
.center{
    text-align: center;
}

/* #services .box{
    border: 1px dotted black;
    border-radius: 5%;
    margin: 5px;
    display: block;
    
} */

#services  img{
    display: block;
    height: 160px;
    margin: auto;

}

#services .box1,#services .box2,#services .box3{
    
    border-radius: 5%;
    margin: 5px;
    color: blanchedalmond;
    position: relative;
}

#services .box1::before, #services .box2::before,#services .box3::before{
    content: "";
    position: absolute;
    background-color: crimson;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}





/* Client section*/

#cli-section .h-primary:hover{
    text-decoration: underline;
}

#cli-section{
    position: relative;
}

#cli-section .h-primary{
    margin: 10px 0px 100px 0px;
}

#client::before{
    content: "";
    background-image: url(./contact.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius:20px;
    margin-top: 10px;


}

#client{
    display: flex;
    margin: 35px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

#client img{
    width: 100px;
    border-radius:100%;

}


/* contact section*/

#contact .h-primary:hover{
    text-decoration: underline;
}

#contact{

    position: relative;
    
}

 
#contact .h-primary{
    margin: 120px 0;
}

 #contact-box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-image: url(./images/contact.webp);
    background-position: center;
    background-size: cover;

    
 }


#contact-box{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#contact-box input, #contact-box textarea{

    width: 100%;
    padding: 0.5rem;
    border-radius: 0 9px ;
    font-size: 1.2rem;
    
}

#contact-box input:hover, #contact-box textarea:hover{
    background-color: rgba(75, 68, 68, 0.424);
    color: rgb(79, 22, 133);
}

#contact-box form,#contact-box label{

    width: 40%;
    font-size: 1.3rem;
}

#contact-box .btn-sub{
    padding: 5px;
    float: right;
    border: 3px solid gray;
    background-color: transparent;
    border-radius: 50px;
    font-size: 1rem;
    padding: 5px;
    margin: 35px;

    border-inline-start-color: rgb(253, 8, 8);
    border-inline-end-color: rgb(253, 8, 8) ;
    /* border-block-end: rgb(114, 216, 12); */
    border-block-start: lawngreen;
    
}

#contact-box .btn-sub:hover{
    background-color: rgba(14, 85, 218, 0.623);
    border-radius: 50px;
    font-size: 1rem;
    padding: 5px;
    margin: 35px;
    cursor: pointer;
   border: 3px solid gray;
    border-inline-start-color: rgb(2, 2, 2);
    border-inline-end-color: rgb(0, 0, 0) ;
    
    border-block-start: lawngreen;
}



/* Footer section*/
footer{
    
    margin: 90px 0 0 0;
    background-color: gray;
    padding: 6px;
    border-radius: 5px 5px;
    border: 3px solid gray;
}

footer:hover{
    background-color: black;
    color: white;
    
    
    border-block-end: lawngreen;
    border-block-start: lawngreen;
    border-inline-start-color: gray;
    border-inline-end-color: gray;


}



@media(max-width:  768px) {
    #services{
        position: relative;
        display: flex;
        flex-direction: column;
    } 

}

@media (max-width:446px){
    .h-primary{
        font-size: 1.2rem;
        color: rgb(39, 30, 31);
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .h-secondary{
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }
}

    
    
@media(max-width:910px){
    
    
    #sidebar{
        position: fixed;
        width: 25%;
        right: -30%;
        top: 1px;
        background-color: blue;
        opacity: 1;
        color: white;
        height: 60%;
        
        
    }
    
    #sidebar li{
        position: relative;
        color: wheat;
        font-size: 1.5rem;
        padding: 20px;
        width: 100%;
        border-bottom: 1px solid white;
        text-align: center;
        list-style: none;
        cursor: pointer;
        top: 70px;
        z-index: 2;
        transition: .5s ease-in-out;
    }
    
    #sidebar li:nth-child(5){
        border-bottom: none;
    }

    .toggle-btn{
        position: fixed;
        width: 5px;
        right: 15%;
        top: 0px;
        
        cursor: pointer;
    }
    
    .toggle-btn span{
        display: inline-block;
        background-color: white;
        width: 30px;
        height: 5px;
        border-radius:3px;
        color: wheat;
        
    }
    
    #sidebar.active{
        right:  10%;
    }
     
    
     
    }
 
